<div class="container">
  <div class="row">
    <div class="span3">
      <div class="notice"><%= notice %></div>
      <h1>Edit Movie</h1>
      <%= render 'movie_form' %>
    </div>
  </div>
</div>
