<div class="container">
  <div class="row">
    <div class="span3">
      <div class="notice"><%= notice %></div>
      <h1>Edit Review</h1>
      <%= render 'edit_review_form' %>
    </div>
  </div>
</div>
